@import url('https://fonts.googleapis.com/css2?family=Lora:wght@642&display=swap');
section{
min-height: 300px;
width: 90%;
display: flex;
margin: auto;
margin-top: 30px;
justify-content: space-between;
border-bottom: 1px gray solid;
padding-bottom: 20px;
}

#s-first .total-nb{
width: 20%;
display: flex;
}

.total-nb .nb-div{
width: 280px;
height: 260px;
border-radius: 10px;
border: 1px rgb(143, 143, 143) solid;
background: linear-gradient(90deg,  rgba(113,134,134,0.75) 28%, rgba(193,203,206,0.82) 100%);
margin: auto;
box-shadow: 1px 1px 1px gray;
text-align: center;
font-family: Lora, Times, serif;
}

.total-nb .nb-div h2{
margin-top: 40px;
font-size: 4em;
}

.total-nb .nb-div p{
font-size: 2em;
}

#s-first .lineplot{
width: 45%;
}

#s-first .pie{
width: 35%;
}

#s-sec > div{
    margin: auto;
    overflow: scroll;
}

#s-sec .tab{
    border: 1px solid gray;
    width: 98%;
    margin: auto;
    height: 350px;
}

#s-third .bar{
margin: auto;
width: 80%;
}

h1{
font: 3em Times;
margin-top: 70px;
text-align: center;
text-decoration: underline;
}


#s-fourth > div{
width: 45%;
}